<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <ul class="contact-list">
          <li class="p-name">
            </li>
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>


      <div class="social-links"><ul class="social-media-list">
              
              <li><a href="https://github.com/halkypi/sh" title="halkypi"><svg class="svg-icon grey"><use xlink:href="/sh/assets/minima-social-icons.svg#github"></use></svg></a></li>
              <li><a href="https://www.linkedin.com/in/halkyard/" title="rss"><svg class="svg-icon grey"><use xlink:href="/sh/assets/minima-social-icons.svg#linkedin"></use></svg></a></li>
          
          </ul>
      </div>

    </div>

  </div>

</footer>
